.App {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-image: url("assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.App::before {
  background-color: rgba(0,0,0,0);
}

input {
  background-color: black;
  color: white;
}
